* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 字体无法选中 */
    user-select: none;
}

body {
    width: 100%;
    /* 宽度设为100% */
    height: 100vh;
    /* 高度设为视口的100% */
    display: flex;
    /* 使用弹性盒布局 */
    justify-content: center;
    /* 水平方向居中对齐 */
    align-items: center;
    /* 垂直方向居中对齐 */
    font-size: 12px;
    /* 设置字体大小 */
    background-color: #ecf0f3;
    /* 背景颜色设为浅灰色 */
    color: #a0a5a8;
    /* 字体颜色设为灰色 */
    background-image: url('../../ArtRes/stuLogBack.jpg');
    /* 添加背景图片 */
    background-size: cover;
    /* 使背景图片覆盖整个元素 */
    background-position: center;
    /* 将背景图片居中显示 */
    background-repeat: no-repeat;
    /* 不重复背景图片 */
}

.shell {
    position: relative;
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    padding: 25px;
    background-image: url('../../ArtRes/stuLogBack.jpg');
    /* 替换背景颜色为背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个元素 */
    background-position: center;
    /* 背景图片居中显示 */
    background-repeat: no-repeat;
    /* 不重复背景图片 */
    box-shadow: 2px 2px 2px #002663, -2px -2px 2px #f9f9f9;
    /* 阴影效果 */
    border-radius: 12px;
    /* 圆角边框 */
    overflow: hidden;
    /* 防止内容溢出 */
}

/* 设置响应式 */
@media (max-width: 1200px) {
    .shell {
        transform: scale(0.7);
    }
}

@media (max-width: 1000px) {
    .shell {
        transform: scale(0.6);
    }
}

@media (max-width: 800px) {
    .shell {
        transform: scale(0.5);
    }
}

@media (max-width: 600px) {
    .shell {
        transform: scale(0.4);
    }
}

.container {
    display: flex;
    /* 使用弹性盒布局 */
    justify-content: center;
    /* 水平方向居中对齐 */
    align-items: center;
    /* 垂直方向居中对齐 */
    position: absolute;
    /* 绝对定位 */
    top: 0;
    /* 顶部位置 */
    width: 600px;
    /* 容器宽度 */
    height: 100%;
    /* 容器高度为100% */
    padding: 25px;
    /* 内边距 */
    background-image: url('../../ArtRes/stuLogBack.jpg');
    /* 添加背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个容器 */
    background-position: center;
    /* 背景图片居中显示 */
    background-repeat: no-repeat;
    /* 不重复背景图片 */
    transition: 1.25s;
    /* 过渡效果 */
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.iconfont:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
}

.form_input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.form_input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}



.form_link {
    color: #b649ff;
    font-size: 25px;
    margin-top: -10px;
    border-bottom: 1px solid #ff07ea;
    line-height: 2;
}

.title {
    background: -webkit-linear-gradient(135deg,
            #0eaf6d,
            #ff6ac6 25%,
            #147b96 50%,
            #e6d205 55%,
            #2cc4e0 60%,
            #8b2ce0 80%,
            #ff6384 95%,
            #08dfb4);
    /* 文字颜色填充设置为透明 */
    -webkit-text-fill-color: transparent;
    /* 背景裁剪，即让文字使用背景色 */
    background-clip: text;
    /* 背景图放大一下，看着柔和一些 */
    background-size: 200% 100%;
    /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
    animation: flowCss 12s infinite linear;

    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
    letter-spacing: 10px;
}

@keyframes flowCss {
    0% {
        /* 移动背景位置 */
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

.title:hover {
    animation: flowCss 4s infinite linear;
}

.description {
    color: #f209fa;
    font-size: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.6;
    /* 本例12个文字(加标点符号)；有多少个文字，width就是多少个em */
    width: 12em;
    /* 加上两个动画，一个是打字动画，使用steps让字一个一个的出现，注意step和字数保持一致，光标动画也是同理，*/
    animation: typingWords 5s steps(12) infinite, cursor 0.5s steps(1) infinite;
    /* 要设置不允许换行，且溢出隐藏 */
    white-space: nowrap;
    overflow: hidden;
    /* 使用右边框作为打印的指针光标 */
    border-right: 1px solid #000;
}

@keyframes typingWords {
    0% {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
}

.a-container {
    z-index: 100;
    left: calc(100% - 600px);
}

.b-container {
    left: calc(100% - 600px);
    z-index: 0;
}

.switch {
    /* 定义切换容器的样式 */
    display: flex;
    /* 使用弹性盒布局 */
    justify-content: center;
    /* 水平方向上居中对齐子元素 */
    align-items: center;
    /* 垂直方向上居中对齐子元素 */
    position: absolute;
    /* 绝对定位，便于精准控制位置 */
    top: 0;
    /* 容器顶部距离父元素0像素 */
    left: 0;
    /* 容器左侧距离父元素0像素 */
    height: 100%;
    /* 容器高度占满父元素的100% */
    width: 400px;
    /* 容器宽度设为400像素 */
    padding: 50px;
    /* 内边距设为50像素 */
    z-index: 200;
    /* 设置层叠顺序，确保在较高的层级上 */
    transition: 1.25s;
    /* 设置属性变化的过渡效果，时长为1.25秒 */
    background-image: url('../../ArtRes/stuLogBack.jpg');
    /* 添加背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个容器 */
    background-position: center;
    /* 背景图片居中显示 */
    background-repeat: no-repeat;
    /* 背景颜色为浅灰色 */
    overflow: hidden;
    /* 超出容器范围的内容隐藏 */
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #d1d9e6;
    /* 添加阴影效果，产生浮雕感 */
}

.switch_circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ffffff00;
    box-shadow: inset 8px 8px 12px #b8bec7, inset -8px -8px 12px #fff;
    bottom: -80%;
    left: -80%;
    transition: 1.25s;
}

.switch_circle-t {
    top: -10%;
    left: 80%;
    width: 100px;
    height: 100px;
}

.switch_container {
    /* 定义开关容器的样式 */
    display: flex;
    /* 使用弹性盒布局 */
    justify-content: center;
    /* 水平方向上居中对齐子元素 */
    align-items: center;
    /* 垂直方向上居中对齐子元素 */
    flex-direction: column;
    /* 子元素沿纵向排列 */
    position: absolute;
    /* 绝对定位，便于精确控制位置 */
    width: 400px;
    /* 容器宽度设为400像素 */
    padding: 50px 55px;
    /* 内边距，上下50像素，左右55像素 */
    transition: 1.25s;
    /* 设置过渡效果，时长为1.25秒 */
}

.switch_button {
    /* 定义开关按钮的样式 */
    cursor: pointer;
    /* 鼠标悬停时显示手形光标 */
    text-decoration: none;
    /* 不添加文本装饰（如下划线） */
    position: absolute;
    /* 绝对定位，便于布局 */
    top: 200px;
    /* 设置距离顶部20像素以下移位置 */
    /* 或者使用 margin-top: 20px; 来下移按钮 */
    /* border: none; */
    border: none;
    /* 不显示边框 */
    font-size: 14px;
    /* 字体大小设为14像素 */
    font-family: inherit;
    /* 继承父元素的字体 */
    color: #fff;
    /* 字体颜色为白色 */
    width: 9em;
    /* 按钮宽度设为9个字母的宽度 */
    height: 3em;
    /* 按钮高度设为3个字母的高度 */
    line-height: 2em;
    /* 行高设为2个字母的高度，垂直居中 */
    text-align: center;
    /* 文本居中对齐 */
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    /* 背景采用渐变颜色 */
    background-size: 300%;
    /* 背景渐变的尺寸为300%，增强视觉效果 */
    border-radius: 30px;
    /* 按钮四角圆润，半径30像素 */
    z-index: 1;
    /* 设置层叠顺序 */
}

.switch_button:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.switch_button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.switch_button:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.is-txr {
    left: calc(100% - 400px);
    transition: 1.25s;
    transform-origin: left;
}

.is-txl {
    left: 0;
    transition: 1.25s;
    transform-origin: right;
}

.is-z {
    z-index: 200;
    transition: 1.25s;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
}

.is-gx {
    animation: is-gx 1.25s;
}

@keyframes is-gx {

    0%,
    10%,
    100% {
        width: 400px;
    }

    30%,
    50% {
        width: 500px;
    }
}

.form_button_Active {
    align-items: center;
    /* 垂直居中对齐 */
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    /* 渐变背景色 */
    border: 0;
    /* 去掉边框 */
    border-radius: 8px;
    /* 圆角边框 */
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    /* 添加阴影效果 */
    box-sizing: border-box;
    /* 包括内边距和边框在内的总宽度和高度计算 */
    color: #FFFFFF;
    /* 设置文字颜色为白色 */
    display: flex;
    /* 使用弹性布局 */
    font-family: Phantomsans, sans-serif;
    /* 设置字体 */
    font-size: 18px;
    /* 设置字体大小 */
    justify-content: center;
    /* 水平居中对齐 */
    line-height: 1em;
    /* 行高 */
    max-width: 100%;
    /* 最大宽度为100% */
    min-width: 140px;
    /* 最小宽度为140px */
    padding: 3px;
    /* 内边距 */
    text-decoration: none;
    /* 去掉文本下划线 */
    user-select: none;
    /* 禁止用户选择文本 */
    -webkit-user-select: none;
    /* Safari等Webkit浏览器支持 */
    touch-action: manipulation;
    /* 触摸操作设置 */
    white-space: nowrap;
    /* 不换行显示 */
    cursor: pointer;
    /* 鼠标悬停时显示为手形光标 */
    transition: all .3s;
    /* 所有属性变化的过渡效果，时长为0.3秒 */
    margin-top: 40px;
    /* 添加上外边距，以向下移动元素 */
}

/* 从 www.lingdaima.com 引用的样式 */
.form_button_Active :active,
/* 按钮按下状态 */
.form_button_Active :hover {
    /* 按钮悬停状态 */
    outline: 0;
    /* 去掉按钮外轮廓 */
}

.form_button_Active span {
    background-color: rgb(5, 6, 45);
    /* 内嵌span的背景颜色 */
    padding: 16px 24px;
    /* 内边距 */
    border-radius: 6px;
    /* 圆角 */
    width: 100%;
    /* 宽度为100% */
    height: 100%;
    /* 高度为100% */
    transition: 300ms;
    /* 背景变化的过渡效果，时长为300毫秒 */
}

.form_button_Active:hover span {
    /* 悬停时的样式变化 */
    background: none;
    /* 悬停时去掉背景 */
}

.form_button_Active:active {
    /* 被按下时的样式变化 */
    transform: scale(0.9);
    /* 按下时缩小10% */
}

/* 署名文字样式 */
.footer {
    position: absolute;
    /* 绝对定位 */
    bottom: 30px;
    /* 距离底部30像素 */
    left: 10%;
    /* 水平靠左对齐 */
    transform: translateX(-50%);
    /* 将文本真正居中 */
    color: rgb(0, 0, 0);
    /* 字体颜色为黑色 */
    font-size: 14px;
    /* 字体大小 */
    text-align: center;
    /* 文本居中对齐 */
}