* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    /* 设置全局字体 */
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 900 100px '';
    color: #ffa21759;
    background: #e4e9f5;
}

.shell {
    position: fixed;
    width: 84px;
    height: 100%;
    background: #000000;
    /* 也可以保留此行以设置底色 */
    background-image: url('../../ArtRes/stuPageBKLeft.jpg');
    /* 添加背景图片 */
    background-size: cover;
    /* 使背景图片覆盖整个 .shell */
    background-position: center;
    /* 居中显示背景图片 */
    z-index: 9999;
    transition: width 0.5s;
    padding-left: 10px;
    overflow: hidden;
}


.shell:hover {
    width: 300px;
}

.imageBox {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shell ul {
    position: relative;
    height: 100vh;
}

.shell ul li {
    position: relative;
    padding: 5px;
}

.active {
    background: #e4e9f5;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.active::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px 0 5px #e4e9f5;
    background: transparent;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-top-right-radius: 25px;
    box-shadow: 5px -5px 0 5px #e4e9f5;
    background: transparent;
}

#logo {
    margin: 40px 0 100px 0;
}

.shell ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    color: #333;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.icon i {
    font-size: 30px;
    z-index: 999;
}

.text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffad32c1;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.shell ul li:hover a .icon,
.shell ul li:hover a .text {
    color: #ffa117;
}

.active a .icon::before {
    content: "";
    position: absolute;
    inset: 5px;
    width: 60px;
    background: #000000;
    border-radius: 50%;
    transition: 0.5s;
    border: 7px solid #ffa117;
    box-sizing: border-box;
}

#my {
    background-image: url('../../ArtRes/stuPageBk.jpg');
    /* 设置背景图片 */
    background-size: cover;
    /* 让背景图像覆盖整个区域 */
    background-position: center;
    /* 背景图像居中 */
    height: 100vh;
    /* 设置高度为视口高度，确保能看到背景图片 */
    display: flex;
    /* 如果需要使内容居中，可以使用 flex */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    color: white;
    /* 如果需要改变文本颜色，以便与背景形成对比 */
    overflow: hidden;
}

#home {
    background-image: url('../../ArtRes/stuPageBk.jpg');
    /* 设置背景图片 */
    background-size: cover;
    /* 让背景图像覆盖整个区域 */
    background-position: center;
    /* 背景图像居中 */
    height: 100vh;
    /* 设置高度为视口高度，确保能看到背景图片 */
    display: flex;
    /* 如果需要使内容居中，可以使用 flex */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    color: white;
    /* 如果需要改变文本颜色，以便与背景形成对比 */
    overflow: hidden;
}

#SignIn {
    background-image: url('../../ArtRes/stuPageBk.jpg');
    /* 设置背景图片 */
    background-size: cover;
    /* 让背景图像覆盖整个区域 */
    background-position: center;
    /* 背景图像居中 */
    height: 100vh;
    /* 设置高度为视口高度，确保能看到背景图片 */
    display: flex;
    /* 如果需要使内容居中，可以使用 flex */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    color: white;
    /* 如果需要改变文本颜色，以便与背景形成对比 */
    overflow: hidden;
}

#LiuYan {
    background-image: url('../../ArtRes/stuPageBk.jpg');
    /* 设置背景图片 */
    background-size: cover;
    /* 让背景图像覆盖整个区域 */
    background-position: center;
    /* 背景图像居中 */
    height: 100vh;
    /* 设置高度为视口高度，确保能看到背景图片 */
    display: flex;
    /* 如果需要使内容居中，可以使用 flex */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    color: white;
    /* 如果需要改变文本颜色，以便与背景形成对比 */
    overflow: hidden;
}

#picture {
    background-image: url('../../ArtRes/stuPageBk.jpg');
    /* 设置背景图片 */
    background-size: cover;
    /* 让背景图像覆盖整个区域 */
    background-position: center;
    /* 背景图像居中 */
    height: 100vh;
    /* 设置高度为视口高度，确保能看到背景图片 */
    display: flex;
    /* 如果需要使内容居中，可以使用 flex */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    color: white;
    /* 如果需要改变文本颜色，以便与背景形成对比 */
    overflow: hidden;
}

#me {
    background-image: url('../../ArtRes/stuPageBk.jpg');
    /* 设置背景图片 */
    background-size: cover;
    /* 让背景图像覆盖整个区域 */
    background-position: center;
    /* 背景图像居中 */
    height: 100vh;
    /* 设置高度为视口高度，确保能看到背景图片 */
    display: flex;
    /* 如果需要使内容居中，可以使用 flex */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    color: white;
    /* 如果需要改变文本颜色，以便与背景形成对比 */
    overflow: hidden;
}

.signIn {
    display: flex;
    flex-direction: column;
    /* 垂直排列子元素 */
    align-items: center;
    /* 水平居中对齐 */

}

/* From www.lingdaima.com */
/* The switch - the box around the slider */
.switch {
    position: absolute;
    /* 绝对定位 */
    top: 280px;
    /* 距离上边的距离，根据需要调整 */
    left: 55%;
    /* 水平居中 */
    transform: translateX(-45%);
    /* 使其居中对齐 */
    font-size: 11px;
    /* 设置开关字体大小 */
    position: relative;
    /* 使得开关相对定位 */
    display: inline-block;
    /* 使开关为行内块元素 */
    width: 60em;
    /* 设置开关宽度 */
    height: 4em;
    /* 设置开关高度 */
}

/* 隐藏默认 HTML 复选框 */
.switch input {
    opacity: 0;
    /* 使复选框透明 */
    width: 0;
    /* 设置宽度为0 */
    height: 0;
    /* 设置高度为0 */
}

/* 滑块样式 */
.slider {
    position: absolute;
    /* 绝对定位 */
    cursor: pointer;
    /* 鼠标悬停时显现手型光标 */
    top: 0;
    /* 定位到顶部 */
    left: 0;
    /* 定位到左侧 */
    right: 0;
    /* 定位到右侧 */
    bottom: 0;
    /* 定位到底部 */
    background-color: #23003f;
    /* 设置滑块背景颜色 */
    border: 2px solid #000;
    /* 设置滑块边框 */
    transition: .4s;
    /* 设置过渡效果 */
    border-radius: 1px;
    /* 圆角边框 */
}

/* 滑块前景样式 */
.slider:before {
    position: absolute;
    /* 绝对定位 */
    content: "";
    /* 生成的内容为空 */
    height: 5.2em;
    /* 设置高度 */
    width: 4.8em;
    /* 设置宽度 */
    border-radius: 2px;
    /* 圆角边框 */
    left: 0.2em;
    /* 定位到左侧 */
    bottom: 0.3em;
    /* 定位到底部 */
    background-color: #000000;
    /* 背景颜色为白色 */
    border: 2px solid #000;
    /* 设置边框 */
    transition: 0.1s;
    /* 设置滑块前景的过渡效果 */
}

/* 开关被选中时的滑块样式 */
input:checked+.slider {
    background-color: #4437ff;
    /* 设置为黑色 */
}

/* 开关获得焦点时的滑块样式 */
input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
    /* 设置聚焦时的阴影效果 */
}

/* 开关被选中时前景滑块的位移动画 */
input:checked+.slider:before {
    transform: translateX(54em);
    /* 向右移动 */
}

#SignIn .signIn p2 {

    color: rgb(129, 0, 54);
    /* 设置文本颜色为蓝色 */
    font-size: 80px;
    /* 设置字体大小 */
    letter-spacing: 100px;
    /* 调整字母间距，增加或减少字母之间的空间 */
    position: absolute;
    /* 绝对定位 */
    top: 40px;
    /* 距离上边的距离，根据需要调整 */
    left: 55%;
    /* 水平居中 */
    transform: translateX(-45%);
    /* 使其居中对齐 */
    font-weight: bold;
    /* 设置字体为加粗 */
}

#SignIn .signIn .sign-status {

    color: rgb(255, 0, 149);
    /* 设置文本颜色为蓝色 */
    font-size: 40px;
    /* 设置字体大小 */
    letter-spacing: 10px;
    /* 调整字母间距，增加或减少字母之间的空间 */
    position: absolute;
    /* 绝对定位 */
    top: 400px;
    /* 距离上边的距离，根据需要调整 */
    left: 52%;
    /* 水平居中 */
    transform: translateX(-45%);
    /* 使其居中对齐 */
    font-weight: bold;
    /* 设置字体为加粗 */

}

/* 署名文字样式 */
.footer {
    position: absolute;
    /* 绝对定位 */
    bottom: 20px;
    /* 距离底部100像素 */
    left: 85%;
    /* 水平靠左对齐 */
    transform: translateX(-50%);
    /* 将文本真正居中 */
    color: rgb(0, 0, 0);
    /* 字体颜色为黑色 */
    font-size: 14px;
    /* 字体大小 */
    text-align: center;
    /* 文本居中对齐 */
    z-index: 1000;
    /* 设置较高的 z-index 以确保在最上层 */
}