body {
    font-family: Arial, sans-serif;
    background-image: url('../../ArtRes/stuPageBk.jpg');

    /* 更换为你的背景图片路径 */
    background-size: cover;
    /* 使背景图像覆盖整个背景 */
    background-position: center;
    /* 使背景图像居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(97, 6, 85, 0.783);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(164, 67, 67, 0.626);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}