@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1732335552769') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiandao:before {
  content: "\e641";
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-shouye:before {
  content: "\e607";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

